// variables
$bg-color: cornflowerblue;

#main {
  //padding: 50px;
}

#mainTitle {
  background-color: white;
  //background-image: url("/assets/header_bg.svg");
  //background-image: url("/assets/logo.svg");
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  padding-bottom: 10px;
  text-align: left;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  color: #666666;
  //position: absolute;

}

#navigation {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  line-height: 40px;
  color: #8c8c8c;
  text-align: center;
  display: inline;
  //position: fixed;
  //padding: 20px;
}

#menuBar {
  background-color:#404040;
  padding: 8px;
  margin-top: 0px;
}

#plusIcon {
  float: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 40px;
  // border-style: solid;
  // border-width: thin;
  // margin: auto;
}

#myBoards{
  border-right: solid;
  border-width: thin;
  padding: 25px;
  //margin-right: 10px;
}

#random {
  border-right: solid;
  border-width: thin;
  padding: 25px;
}

#getTheApp {
  padding: 25px;
  border-width: thin;
}



.container {
  background-color: black;
  width: 350px;
  length: 400px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;



  @media screen and (min-width: 0px){
    background-color: white;
    width: 250px;
    length: 250px;
    border-style: solid;
    // margin-left: 15px;
    // margin-bottom: 20px;
    padding-left: 3px;
    padding-top: 25px;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 500px){
    background-color: white;
    width: 450px;
    padding-left: 3px;
    padding-top: 30px;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  @media screen and (min-width: 700px){
    background-color: white;
    width: 600px;
    padding-left: 5px;
    padding-top: 50px;
    display: block;
    margin-top: 50px;
    margin-left: 20px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  @media screen and (min-width: 1100px){
    background-color: white;
    width: 375px;
    padding-left: 3px;
    padding-top: 35px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;

  }

  @media screen and (min-width: 1300px){
    background-color: white;
    width: 475px;
    padding-top: 50px;
    padding-left: 40px;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
  }

}


.Image {
  // width: 300px;
  // length: 300px;

  @media screen and (min-width: 0px){
    width: 200px;
    length: 500px;
    margin: auto;
  }
  @media screen and (min-width: 500px){
    width: 400px;
    length: 450px;
    margin: auto;
    //display: inline;
  }
  @media screen and (min-width: 700px){
    width: 515px;
    length: 750px;
    margin: auto;
  }

  @media screen and (min-width: 1100px){
    background-color: white;
    width: 325px;
    margin: auto;
    margin-bottom: 20px;

  }

  @media screen and (min-width: 1300px){
    background-color: white;
    width: 400px;
    padding-right: 40px;
    // margin: auto;
    // margin-bottom: 50px;
    // margin-left: 25px;
    display: inline-block;
}

}


#main {
  color: black;
}

body {
  background-color: #993d00;
  margin: 0px;

}

div:hover, span:hover, #mainTitle:hover ,#plusIcon:hover {
  color: orange;
}

// :hover{
//   color: orange;
// }

