// variables
$bg-color: cornflowerblue;

#main {
  //padding: 50px;
}

#title {
  text-align: center;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

#navigation {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  display: inline;
  padding: 20px;
}

.container {
  background-color: white;
  width: 350px;
  length: 400px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;


  @media screen and (min-width: 0px){
    background-color: white;
    width: 250px;
    length: 250px;
    border-style: solid;
    // margin-left: 15px;
    // margin-bottom: 20px;
    padding-left: 3px;
    padding-top: 25px;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
  }

  @media screen and (min-width: 500px){
    background-color: white;
    width: 450px;
    padding-left: 3px;
    padding-top: 30px;
    margin-top: 50px;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
  }

  @media screen and (min-width: 700px){
    background-color: white;
    width: 600px;
    padding-left: 5px;
    padding-top: 50px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    text-align: center;
    margin: auto;
  }

  @media screen and (min-width: 1100px){
    background-color: white;
    width: 375px;
    padding-left: 3px;
    padding-top: 35px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    display: inline-block;

  }

  @media screen and (min-width: 1350px){
    background-color: white;
    width: 475px;
    padding-top: 50px;
    padding-left: 40px;
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    display: inline-block;
  }

}


.Image {
  // width: 300px;
  // length: 300px;

  @media screen and (min-width: 0px){
    width: 200px;
    length: 500px;
    margin: auto;
  }
  @media screen and (min-width: 500px){
    width: 400px;
    length: 450px;
    margin: auto;
    //display: inline;
  }
  @media screen and (min-width: 700px){
    width: 515px;
    length: 750px;
    margin: auto;
  }

  @media screen and (min-width: 1100px){
    background-color: white;
    width: 325px;
    margin: auto;
    margin-bottom: 50px;

  }

  @media screen and (min-width: 1350px){
    background-color: white;
    width: 400px;
    padding-right: 40px;
    // margin: auto;
    // margin-bottom: 50px;
    // margin-left: 25px;
    display: inline-block;
}

}


#main {
}

body {
  background-color: violet;
}