#firstImg {
  width: 500px; }

#bgBorder1 {
  background-color: black;
  length: 00px;
  margin: auto;
  width: 200px;
  position: relative; }

#firstContainer {
  max-width: 250px;
  padding: 200px; }

body {
  background-color: violet; }
